.card {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #040404;
}

body,h1{
    text-align: center;
}


#contenant{
    max-width: 40em;
    display: grid;
    grid-template-columns: repeat(4,10em);
    grid-template-rows: repeat(4,10em);
    margin:  auto;
}

#affichage{
    margin: 5em;
}

#play{
    background-color: #4CAF50;
}

body{
    background-color: #f9ffef;  
}

main{
    background-color: #ffb752;
    padding:5em;
    margin-left:15em;
    margin-right:15em;
    border-radius: 50px;
}